<!DOCTYPE html>
<html>
  <head>
    <title>MyWebsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div class="header">	
  		MY WEBSITE
  	</div>

  	<div class="nav">
  		<a href="/home">Home</a>
  	</div>

 	<div class="content">
 		 <%= yield %>
  	</div>
   	
  </body>
</html>
